---
import Layout from '../layouts/Layout.astro';
import '../styles/index.scss';
---

<Layout>
	<h1 id="title">redactype</h1>
		<div class="text-content">
			<p class="sum"> +Redactype focuses on typefaces that hide and reveal information. The fonts are strong, minimal, and play with missing details to add visual interest.</p1>

			<p class="credit">Type + Code 2025</p>

			
		</div>
	<a href="/display" id="display">l</a>
	<!-- astro doesn't like .astro when linking-->

	
	<!-- <div class="front-letters">
		<div class="advent-1">
			l
		</div>
	</div> -->

</Layout>

<script src="../javascript/index.js"></script>